
<div id="about" class="k-d-flex-col k-justify-content-between k-align-items-start"
     style="gap:2em; margin:2em; width:60%;">
    <h2>Kendo UI Admin Dashboard</h2>
    <p>
        Kendo UI Admin Dashboard is a web application built with Progress award-winning
        <a href="https://www.telerik.com/kendo-ui">Kendo UI for jQuery widgets</a> - 100+ UI components to help you
        build responsive websites and apps fast. Kendo UI for jQuery<sup>®</sup> offers widgets for every need - from
        the must-have for every app Grids, Dropdowns and Menus to the advanced line-of-business UI, such as Charts,
        Gantt, Diagram, Scheduler, PivotGrid and Maps.
    </p>

    <p>
        The sample app showcases some of the most popular Kendo UI for jQuery widgets, such as Grid, TileLayout, Form,
        Charts, Gauges, etc. in a real world scenario.
    </p>
    <p>
        <div class="section-white">
            <h3 class="section-title">Kendo UI for jQuery widgets</h3>
            <ul class="col-xs-4">
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/grid/index">Grid</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/charts/index">Charts</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/tilelayout/index">TileLayout</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/drawer/index">Drawer</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/form/index">Form</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/appbar/index">AppBar</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/pager/index">Pager</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/arc-gauge/index">Arc Gauge</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/popover/index">Popover</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/daterangepicker/index">DateRangePicker</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/calendar/index">Calendar</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/badge/index">Badge</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/kendo-ui/button/index">Button</a>
                </li>
            </ul>
        </div>
    </p>
</div>
